[Unit]
Description=ttyd initializer
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=zero
ExecStart=/usr/local/bin/ttyd --credential zero:eien --writable --port 3000 --cwd /home/zero bash

[Install]
WantedBy=multi-user.target

